<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profile</title>

<link rel="stylesheet" href="../style/style.css">
<script src="../style/jquery-3.1.1.js"></script>
<link rel="stylesheet" href="../style/bootstrap/css/bootstrap.min.css">
<script src="../style/bootstrap/js/bootstrap.min.js"></script>
<script src="../style/angular.min.js"></script>
<script src="../resources/ckeditor/ckeditor.js"></script>

</head>
<body ng-app="app">

	<div>
		<div nav-bar page="profile"></div>
	</div>


	<div class="container" ng-controller="user">


		<ul class="nav nav-tabs" style="padding-top: 20px;">
			<li role="presentation" class="active profil"><a id="profil">Profil</a></li>
			<li role="presentation" class="modif"><a id="modif" >Paramtre</a></li>
		</ul>


		<div class="div1" >
			<div >
				<p><a href="/services/courses/addCourses.html">Ajouter un cours</a></p>
				<br>
				<p>Id : {{member.id}}</p>
				<p>Pseudo : {{member.pseudo}}</p>
				<p>Name : {{member.name}}</p>
				<p>First name : {{member.firstName}}</p>
				<p>E-mail : {{member.e_mail}}</p>
				<p>Date of birth : {{member.date_of_birth}}</p>
				<p>Date of registration : {{member.dateOfRegistration}}</p>
				<h3>Liste des cours</h3>

				<div class="row">
					<div class="col-md-3 col-sm-6" ng-repeat="c in member.courses">
						<div class="panel panel-default text-center">
							<div class="panel-heading">
								<span class="fa-stack fa-5x"> <img
									src="data:image/png;base64, {{c.image}}" style="height: 140px;" />
								</span>
							</div>
							<div class="panel-body">
								<h4>{{c.subject}}</h4>
								<p>{{c.description}}</p>

								<a href="/services/courses/course.html/#!/?id={{c.id}}" class="btn btn-primary">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="div2" style="display: none;" >
			<p> first name : <input type="text" class="login-field" value=" {{member.firstName}} " id="firstName" ng-model="member.firstName"> </p><br>
			<p> name : <input type="text" class="login-field" value="{{member.name}}"  id="name" ng-model="member.name"></p> <br>
			<p> pseudo : <input type="text" class="login-field" value="{{member.pseudo}}"  id="pseudo" ng-model="member.pseudo"> </p> <br>
			<p> e-mail : <input type="text" class="login-field" value="{{member.e_mail}}"  id="email" ng-model="member.e_mail"> </p><br>
			<p> date of birth : <input type="text" class="login-field" value="{{member.date_of_birth}}" id="dateBirth" ng-model="member.date_of_birth"></p>
			<input  type="submit" vlaue="Register" ng-click="saveModMember()"/>
		</div>



		<hr>
		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Your Website 2017</p>
				</div>
			</div>
		</footer>
	</div>

	<script src="../../js/global.js"></script>
	<script type="text/javascript">
	
		$('#profil').click(
				function() {
					$('.div2').hide();
					$('.div1').show();
					$('.modif').removeClass('active');
					$('.profil').addClass('active');
				});
		$('#modif').click(
				function() {
					$('.div2').show();
					$('.div1').hide();
					$('.profil').removeClass('active');
					$('.modif').addClass('active');
				});
	</script>
</body>
</html>