<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register Form</title>
<link rel="stylesheet" href="style/style2.css">

<script src="style/jquery-3.1.1.js"></script>
<link rel="stylesheet" href="style/bootstrap/css/bootstrap.min.css">
<script src="style/bootstrap/js/bootstrap.min.js"></script>
<script src="style/angular.min.js"></script>
<script src="js/global.js"></script>

</head>

<body ng-app="App">

	<div class="login" >
		<div class="login-screen">
			<div class="app-title">
				<h1>Register form :</h1>
			</div>

			<div class="login-form" ng-controller="registerCtrl">
			
				<div class="control-group">
					<input type="text" class="login-field" value=""
						placeholder="first name" id="firstName" ng-model="member.firstName"> <label
						class="login-field-icon fui-user" for="login-name"></label>
				</div>
				
			
				<div class="control-group">
					<input type="text" class="login-field" value=""
						placeholder="username" id="name" ng-model="member.name"> <label
						class="login-field-icon fui-user" for="login-name"></label>
				</div>
				
				<div class="control-group">
					<input type="text" class="login-field" value=""
						placeholder="pseudo" id="pseudo" ng-model="member.pseudo"> <label
						class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
					<input type="text" class="login-field" value=""
						placeholder="mail@mail.com" id="email" ng-model="member.e_mail"> <label
						class="login-field-icon fui-user" for="email"></label>
				</div>

				<div class="control-group">
					<input type="password" class="login-field" value=""
						placeholder="password" id="login-pass" ng-model="member.password"> <label
						class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<div class="control-group">
					<input type="text" class="login-field" value=""
						placeholder="Confirm password" id="login-pass2"> <label
						class="login-field-icon fui-user" for="login-pass2"></label>
				</div>
				
				<div class="control-group">
					<input type="text" class="login-field" value=""
						placeholder="Date of birth : yyyy-mm-jj" id="dateBirth" ng-model="member.date_of_birth"> <label
						class="login-field-icon fui-user" for="login-pass2"></label>
				</div>

				<input class="btn btn-primary btn-large btn-block"  type="submit" vlaue="Register" ng-click="clicked()"/>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var app = angular.module('App', []);
		app.controller("registerCtrl", function($scope, $http) {
			$scope.member = {}

			$scope.clicked = function() {
				console.log($scope.member)
				$http.post("/resources/members", $scope.member)
				.then( function(){
					console.log("avec success")
				})
			}
		});
	</script>

</body>
</html>
